nats:
  server: nats://nats:4222

  # Handler
  paths:
    - from: tw.econ.read.*
      regex:
        - "\\[.*?]\\[chat]: \\d+:-?\\d+:(.*): (.*)" # trainfngChatRegex
        - "\\[.*]\\[.*]: \\*\\*\\* '(.*)' (.*)" # trainfngJoinRegex
        - "\\[chat]: \\d+:-?\\d+:(.*): (.*)" # teeworldsChatRegex
        - "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2} I chat: ([^:]+): (.*)$" # ddnetChatRegex
        - "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2} I chat: \\*\\*\\* '(.*?)' (.*)$" # ddnetJoinRegex
      to:
        - tw.tg.{{message_thread_id}}
    - from: tw.econ.read.*
      regex:
        - "\\[game]: team_join player='\\d+:(.*)' team=0" # teeworldsJoinRegex
      to:
        - tw.tg.{{message_thread_id}}
      template: "{{text_join}}"

args:
  server_name: Fng
  message_thread_id: "1379" # str only

econ:
  host: 127.0.0.1:8303
  password: econ_password
